Source: asnd
Section: utils
Priority: optional
Maintainer: EZO AssetSonar <support@assetsonar.com>
Build-Depends: debhelper (>= 9), composer, build-essential, devscripts, git
Standards-Version: 4.1.4
Homepage: https://github.com/haroon7v/asnd
Package: asnd
Version: 1.0.0-1
Architecture: all
Depends: ruby-full, build-essential, curl, cron
Description: ASND - AssetSonar Network Discovery
  AssetSonar Network Discovery is a package used to setup network discovery
  server on any on-premises server. It communicates with AssetSonar to sync
  network devices data.
  .
  This package installs the 'asnd' command to the system PATH.
